* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
/** NAV-BAR**/


header .nav-BAR {
   height: 55PX;
   background-color: rgb(43, 53, 80);
   display: flex;
   gap: 16PX;
   align-items: center;

} 
.amazonlogo img {
    height: 50PX;
    margin: 1px;
    padding: 1px,8px,0px,6px;
    transform: all 2s;
}
.amazonlogo:hover {
    transform: scale(1.1);

}

.loacation {
    display: flex;
    gap: 5px;
   

}
.locationicon {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.delivery-INFO{
    display:flex ;
    flex-direction: column;
    font-size: 1rem;
    color: white;
    padding:5px;
}

/**SEARCH BAR**/
.search_bar {
    display: flex;
    background-color: rgb(251, 199, 199);
    width: 620PX;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    gap: 0px;
    justify-content: space-evenly;  
}

/* .search_bar:hover {
    box-shadow: -1px 0px 101px -16px rgba(255,255,255,1); 
    border: 2ps solid white;
} */
.SEARCH {
    background-color: rgb(241, 237, 237);
    border: none;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius:  5px;
    width: 60px;
}


.TEXTBAR {
    width:100%;
    border: none;
    padding: 5px;
}
.serachlogo {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 167, 47);
    font-size: 1.2rem;
}

.country_box {
    height: 50PX;
    width: 60PX;
    /* background-color: pink; */
    display: flex;
     align-items: center;
     gap: 5PX;
     padding-left: 10px;
     padding-right: 10px;

     padding-top: 13px;

}
.country_box:hover{
    border: 1px solid white;
}
.country-log img {
    height: 15px;
}
.countryname {
    font-size: BOLD;
    font-weight: 700;
    color: white;
}

/*ACCOUNT SECTION*/

.account-section {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 5px;
}
.account-section:hover {
    border: 1px solid white;
}
    
    
